* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1b22;
}

#logo_pos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    z-index: 2;
    margin-right: 230px;
}

#logo {
    position: absolute;
    margin-top: 25px;
    height: 210px;
}

nav {
    display: flex;
    z-index: 2;
    justify-content: flex-end;
    align-items: center;
    background-color: #2b2a33;
    border-bottom: 3px solid rgb(255, 115, 0);
    height: 91px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}

#nav-links {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
    position: absolute;
    background-color: rgba(255, 115, 0, 0.980);
    right: 0px;
    top: -87vh;
    width: 310px;
    list-style: none;
    transition: all 1s;
}

.nav-active {
    transform: translateY(100vh);
}

#nav-links a {
    text-decoration: none;
    color: #1c1b22;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 310px;
    height: 7rem;
}

#nav-links a:hover {
    background-color: #2b2a331e;
    transition: ease 1s;
}

.burger_line {
    width: 30px;
    height: 4px;
    background-color: rgb(255, 115, 0);
    margin: 5px;
    border-radius: 15%;
    transition: all 0.5s;
}

.crossed_line #line_1 {
    transform: rotate(-45deg) translate(-5px, 1px);
}

.crossed_line #line_3 {
    transform: rotate(45deg) translate(-5px, -1px);
}

#burger {
    z-index: 3;
    margin-right: 40px;
    cursor: pointer;
}

#search {
    z-index: 2;
    width: 90px;
    display: flex;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid #2b2a33;
    border-radius: 10px;
    font-size: 1.7rem;
    background-color: #2b2a33;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: width 0.4s ease-in-out;
    color: rgb(194, 194, 194);
    background-image: url(search_icon1.png);
    background-repeat: no-repeat;
    background-size: 45px;
    cursor: pointer;
}

#search:focus {
    width: 100%;
}

footer {
    display: grid;
    list-style: none;
    position: absolute;
    border-top: 3px solid rgb(255, 115, 0);
    background-color:  #2b2a33;
    width: 100%;
    height: 130px;
    bottom: -1500px;
    color:  white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 1fr;
    grid-template-areas: 
        "h3 h3"
        "co ad"
    ;
}

#footer_title {
    color: #17a4c0;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: h3;
}

#contacts {
    grid-area: co;
}

#address {
    grid-area: ad;
}

#home_header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    width: 100%;
    grid-area: hh;
}

#stand {
    margin-left: 200px;
}

#home_header_img {
    filter: brightness(60%);
    width: 100%;
    height: 400px;
}

#home_header_title {
    color: white;
    font-size: 1.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 30%;
    width: 100%;
}

#home_header_text {
    color: rgb(194, 194, 194);
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 45%;
    width: 300px;
}

#home_button {
    z-index: 1;
    position: absolute;
    margin-top: 150px;
    width: 120px;
    height: 50px;
}

.home_image {
    height: auto;
    min-height: 300px;
    width: 100%;

    filter: brightness(70%) blur(1px);
}

.home_image_border {
    background-color: #2b2a33;
    border: 3px solid #218fa6;
    display: flex;
    flex-direction: row;
}

#calculate {
    display: flex;
    grid-area: ca;
    flex-direction: column;
}

#evaluate {
    display: flex;
    grid-area: ev;
    flex-direction: column;
}

#revolutionize {
    display: flex;
    grid-area: re;
    flex-direction: column;
}

.ad {
    display: none;
}

.home_text {
    display: none;
}

.home_image_text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.8rem;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-align: center;
    position: absolute;
    width: 100%;
}

.icon {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #218fa6;
    font-size: 3rem;
    background-color: #2b2a33;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 5px solid #42414d;
}

#icon_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: iw;
    width: 100%;
}

.icon_text {
    display: none;
}

.icon_txt {
    display: none;
}

#home_explanation {
    grid-area: hx;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1cc5e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

#home_explanation_title {
    color: rgb(194, 194, 194);
}

#meet_us_wrapper {
    display: none;
}

form {
    display: flex;
    justify-content: space-evenly;
    color: rgb(194, 194, 194);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#calculator_forms {
    list-style-type: none;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 1000px;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#calculator_title {
    color: lightgray;
}

.calculator_input {
    border: 2px solid #218fa6;
    border-radius: 5px;
    width: 80vw;
    height: 4vh;
    color: rgb(194, 194, 194);
    background-color: #2b2a33;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.calculator_input:hover {
    background-color: #42414d;
    border: 3px solid #218fa6;
}

.button {
    border: 2px solid #218fa6;
    background-color: #2b2a33;
    color: rgb(194, 194, 194);
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 50px;
    width: 90px;
    cursor: pointer;

    transition-duration: 0.5s;
}

.button:hover {
    background-color: #218fa6;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
}

#calc_all {
    display: none;
}

#exp_at {
    color: rgb(255, 115, 0);
    width: 90vw;
    font-size: 1rem;
}

.explanation {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #00d5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.explanation_title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(194, 194, 194);
}

#result {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2b2a33;
    color: white;
    font-size: 1.25rem;
    border: 2px solid rgb(255, 115, 0);
}

#news_header {
    color: rgb(194, 194, 194);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
    margin-top: 10px;
}

#top_headline_text {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: th;
    color: rgb(194, 194, 194);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}

#top_headline_wrapper {
    display: grid;
    position: relative;
    margin-top: 20px;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 50px 80px 1fr 30px 1fr 23px 1fr;
    grid-template-areas: 
    ".  .  . "
    ".  th . "
    "h1 h1 . "
    ".  .  . "
    ".  h2 h2"
    ".  .  . "
    "h3 h3 . "
    ;
}

#headline1 {
    grid-area: h1;
    border-right: 2px solid #218fa6;
}

#headline2 {
    grid-area: h2;
    border-left: 2px solid #218fa6;
}

#headline3 {
    grid-area: h3;
    border-right: 2px solid #218fa6;
}

.head_txt {
    display: none;
    color: rgb(194, 194, 194);
}

.head_title {
    font-size: 1.5rem;
    margin-left: 5px;
    text-decoration: underline;
}

.headline {
    padding: 5px;
    background-color: #2b2a33;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    border-top: 2px solid #218fa6;
    border-bottom: 2px solid #218fa6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#bnt {
    display: none;
}

.news_img {
    height: 100px;
    width: 200px;
    border-radius: 10px;
}

#breaking_news_img {
    width: 100%;
    height: 200px;
}

#breaking_news_text {
    font-size: 2rem;
}

#breaking_news {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    border: 2px solid #42414d;
    font-size: 2.2rem;
    width: 100%;
    max-width: 1000px; 
    height: 100%;
}

#breaking_news_wrapper {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#small_news_wrapper {
    display: none;
}

#story {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-area: st;
    width: 360px;
    height: 610px;
}

#map_wrapper {
    margin-top: 30px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: ma;
}

#map {
    height: 400px;
    padding: 7px;
    width: 96vw;
    max-width: 700px;
}

#opening_hours_title {
    display: flex;
    justify-content: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#opening_hours_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: op;
}

#opening_hours {
    color: white;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #2b2a33;
    width: 350px;
    border-top: 4px solid #218fa6;
    border-right: 4px solid #218fa6;
    border-left: 4px solid rgb(255, 115, 0);
    border-bottom: 4px solid rgb(255, 115, 0);
    height: 230px;
}

#days {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.slideshow {
    max-width: 700px;
    position: relative;
    margin: auto;
    padding: 2px;
    grid-area: sl;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -35px;
    padding: 16px;
    color: black;
    font-size: 25px;
    transition: 0.6s ease;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
}  

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#subscription_wrapper {
    display: flex;
    width: 99%;
    align-items: center;
    justify-content: center;
    grid-area: su;
}

#subscription_border {
    border: 12px solid rgb(255, 115, 0);
    width: 345px;
    height: 230px;
}

#subscription {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2b2a33;
    width: 340px;
    border: 5px solid #218fa6;
    height: 230px;
}

#abs_button {
    color: white;
    margin-top: 10px;
    border: 2px solid rgb(255, 155, 0);
}

#abs_button:hover {
    background-color: rgb(255, 155, 0);
    font-size: 1.1rem;
    color: black;
}

@media screen and (min-width: 800px) {
    #burger {
        display: none;
    }
    
    nav {
        height: 70px;
    }

    #search {
        width: 80px;
        display: flex;
        height: 50px;
        margin-right: 0px;
        box-sizing: border-box;
        border: 2px solid #2b2a33;
        border-radius: 10px;
        font-size: 1.7rem;
        background-color: #2b2a33;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        transition: width 0.4s ease-in-out;
        color: rgb(194, 194, 194);
        background-image: url(search_icon1.png);
        background-repeat: no-repeat;
        background-size: 45px;
        cursor: pointer;
        z-index: 3;
    }

    #nav-links {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 90px;
        position: absolute;
        top: 70px;
        width: 100%;
        list-style: none;   
    }

    .icon_text {
        display: flex;
        color: rgb(194, 194, 194);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    #home_wrapper {
        display: grid;
        grid-template-columns: 20px 380px 1fr 320px 20px;
        grid-template-rows: 100px 500px 80px 410px 410px 420px 580px 10px;
        grid-template-areas: 
            ".  .  .  .  . "
            "hh hh hh hh hh"
            ".  .  .  .  . "
            ".  a1 ca hx . "
            ".  .  ev .  . "
            ".  a2 re a3 . "
            ".  .  mu .  . "
            ".  .  iw .  . "
        ;
    }

    .ad_img {
        width: 100%;
        height: 100%;
        filter: brightness(90%) blur(0px);
        border: 3px solid black;
    }

    .ad {
        width: 300px;
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ad_txt {
        display: flex;
        justify-content: center;
        position: absolute;
        align-items: center;
        z-index: 2;
        color: white;
        font-size: 2rem;
        background-color: rgba(0, 0, 0, 0.561);
        width: 300px;
        height: 100px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #ad1 {
        grid-area: a1;
    }

    #ad4 {
        grid-area: a4;
    }

    #ad3 {
        grid-area: a3;
    }

    #ad2 {
        grid-area: a2;
    }
    
    #ev_txt_wrapp {
        flex-direction: column;
    }

    .ev_txt {
        grid-area: et;
    }

    #ev_img {
        grid-area: ei;
    }

    #evaluate_wrapp {
        display: grid;
        grid-template-columns: 1fr 400px;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "et ei"
        ;
    }

    #home_explanation {
        grid-area: hx;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 10px;
        width: 300px;
        height: 800px;
        border: 2px solid #218fa6;
    }

    .home_text {
        margin-left: 20px;
        display: flex;
        color: white;
        font-size: 1.8rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .home_explanation_title {
        font-size: 2rem;
        color: rgb(255, 255, 255);
    }

    #home_header_img {
        height: 600px;
    }

    #home_button {
        margin-top: 180px;
    }

    #home_header_title {
        font-size: 3rem;
        top: 25%;
        width: 800px;
    }

    #home_header_text {
        color: rgb(194, 194, 194);
        font-size: 2rem;
        top: 40%;
        width: 500px;
    }

    .home_image_text {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        text-align: center;
        position: relative;
        width: 100%;
    }

    .home_image {
        width: 400px;
        height: 300px;
        border-radius: 30px;
        filter: brightness(120%) blur(0px);
    }

    .icon_txt {
        display: flex;
        color: rgb(129, 129, 129);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1rem;
        width: 300px;
        text-align: center;
    }

    .icon {
        margin-left: 100px;
    }

    .home_image_border {
        width: 1100px;
        padding: 10px;
    }

    .social {
        padding: 3px;
        width: 100px;
        height: 100px;
        border-radius: 20px;
    }

    .item_social {
        border: 2px solid #218fa6;
        padding: 5px;
        width: 135px;
        height: 150px;
        text-decoration: underline;
    }

    #social_wrapp {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    #social_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    #meet_us_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 1100px;
        grid-area: mu;
        height: 550px;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.5rem;
        background-color: #2b2a33;
        border: 3px solid #218fa6;
    }

    #meet_us {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .meet_pic {
        width: 300px;
        height: auto;
    }

    .person {
        display: flex;
    }

    #map {
        height: 500px;
    }

    .headline {
        height: 200px;
        font-size: 2.2rem;
    }

    .news_img {
        height: 180px;
    }

    #top_headline_wrapper {
        max-width: 1000px;
        display: grid;
        grid-template-columns: 100px 1fr 1fr 150px;
        grid-template-rows: 60px 50px 200px 10px 200px 10px 200px 60px;
        grid-template-areas: 
        "nh nh nh nh"
        ".  th th . "
        "h1 h1 h1 . "
        ".  .  .  . "
        ".  h2 h2 h2"
        ".  .  .  . "
        "h3 h3 h3 . "
        ".  sw sw . "
        ;
    }

    .head_txt {
        display: flex;
        font-size: 1.5rem;
        padding: 5px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .head_title {
        font-size: 2rem;
        text-decoration: underline;
    }

    .news_i {
        height: 500px;
        width: 240px;
        border-radius: 5px;
    }

    .news_text {
        color: rgb(212, 212, 212);
    }

    .news_title {
        text-decoration: underline;
    }

    #breaking_news_text {
        font-size: 2.3rem;
    }

    #bnt {
        display: flex;
        font-size: 2rem;
        color: rgb(194, 194, 194);
    }

    #news_header {
        position: relative;
        margin-top: 80px;
        height: 10px;
        grid-area: nh;
    }

    #news_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #breaking_news_wrapper {
        height: 550px;
    }

    #breaking_news_img {
        height: 400px;
    }

    #small_news_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 1000px;
        grid-area: sw;
    }

    .news {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        background-color: #2b2a33;
        padding: 10px;
        width: 270px;
        height: 290px;
        border: 2px solid #218fa6;
        font-size: 1rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #news_wrapper_border {
        border: 2px solid #42414d;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    #nw_border {
        display: grid;
        align-items: center;
        justify-content: center;
        position: relative;
        grid-area: nw;
    }

    #adv_wrapp {
        width: 100%;
        display: grid;
        grid-template-columns: 60px 320px 1fr 360px 10px;
        grid-template-rows: 150px 450px 400px 200px 600px 600px;
        grid-template-areas: 
        ". .  nw  .  . "
        ". a1 nw a3 . "
        ". a1 nw a3 . "
        ". a2 nw a4 . "
        ". a2 nw a4 . "
        ;
    }

    #calculator_title {
        margin-top: 350px;
        font-size: 3rem;
    }

    .calculator_input {
        border-radius: 5px;
        width: 40vw;
        height: 6vh;
    }

    .calculation_img {
        width: 30vw;
        border-radius: 5px;
        -webkit-filter: invert(1);
        filter: invert(0.9);
    }
    
    .calculator_input:hover {
        border: 4px solid #218fa6;
    }
    
    #calculator_forms {
        margin-top: -250px;
        height: 1600px;
        grid-area: cf;
    }

    #calc_all {
        display: flex;
    }

    #exp_at {
        width: 25vw;
    }

    #result {
        width: 30vw;
        height: 15vh;
    }

    #calc_wrapper {
        border: 2px solid rgb(255, 115, 0);
        padding: 5px;
        background-color: #2b2a33;
        font-size: 1rem;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #info {
        display: flex;
        justify-self: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
        width: 26vw;
        height: 1350px;
        grid-area: if;
        border: 2px solid #218fa6; 
    }

    #calculator_wrapper {
        display: grid;
        position: relative;
        grid-template-columns: 1200px 1fr 400px 800px;
        grid-template-rows: 100px 1fr;
        grid-template-areas: 
        ".  cf .  . "
        ".  cf if . "
        ;
    }

    .button {
        margin-top: 20px;
        text-align: center;
        display: inline-block;
        border-radius: 5px;
        height: 55px;
        width: 100px;
    }

    .explanation {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 10px;
        font-size: 1.2rem;
    }

    .explanation_title {
        font-size: 2rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .exp_text {
        width: 30vw;
        background-color: #2b2a33;
        padding: 10px;
        border: 2px solid rgb(255, 115, 0);
        color: white;
    }

    #about_us_wrapper {
        display: grid;
        margin-top: 100px;
        grid-template-columns: 50px 500px 800px 30px 600px 10px;
        grid-template-rows: 300px 60px 150px;
        grid-template-areas: 
            ".  op  ma .  st . "
            ".  .   ma .  st . "
            ".  su  ma .  st . "
        ;
    }

    #story {
        margin-top: 30px;
        position: relative;
        background: linear-gradient(to right, rgb(255, 115, 0), #218fa6);
        padding: 5px;
      }
      
    #story_border {
        background: #1c1b22;
        padding: 2rem;
    }

    footer {
        display: grid;
        z-index: 2;
        font-size: 1.3rem;
        bottom: -2000px;
        grid-template-columns: 550px 300px 200px 300px 300px;
        grid-template-rows: 0.8fr 1fr;
        grid-template-areas: 
            ".  h3 h3 h3 . "
            ".  co .  ad . "
        ;
    }

    #logo {
        display: flex;
        position: relative;
        align-items: center;
        margin-top: 25px;
        height: 180px;
        z-index: 2;
    }
}
